body {
  background: #eee;
  font-family: sans-serif;
  
}


.card {
  width: 400px;
  background: #fff;
  /*margin: 16px auto;*/
}

.title {
  background: #e3f4ff;
  padding:10px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding:16px 10px;
}

.button-container {
  text-align:center;
  background: #e3f4ff;
  padding:10px;
}

button {
  display:block;
  padding:10px;
  background: white;
  border: 1px solid #eee;
  width:150.494px;
  margin:0 auto;
}

* {
  font-size:16px;
}